docs/build/html/_downloads/
target
build-edit-env
*.sw?
*.html
*.1
*.1.gz
*.msi
.vscode/
tests/functional/test_output/
.idea
docs/build/dist/
docs/build/html/
docs/build/pdf/
# We keep `docs/build/man` to ease packaging.
docs/source/index.md
